/* 
New Colors 

 #234345 - Emerald Forest (side-nav, pending-task, search-icon)
 #326063 - Under the Sea (header)
 
*/

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    /* Needed for responsiveness */
    display:flex; 
    flex-direction: row-reverse;
}
/*----------------------------------------------- section------------------------- */
section
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

/*------------------------------------------------- Header -------------------------- */

header
{
    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 0px 4rem;
    height: 100vh;
    position: absolute;
    right: 0;
    width: 95%;

    padding: 0px;
    height: 100vh;
    width: 100%;

    background-color: #326063;
}

.header-nav
{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.today
{
    color: white;
}

.header-logo
{
    color: white;
    font-size: 50px;
}

.logo > p
{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    text-transform: uppercase;
}

.welcome
{
    font-size: 25px;
    color: rgb(248, 248, 248);
}

.header-body
{
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;
    height: 60%;
    padding: 5px;
}

.header-body > .search
{
    width: 100%;
    display: flex;
    position: relative;
}
.search > input
{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 12px;
    border-radius: 10px;
    border: none;  
}

.search > input:focus
{
    outline: none;
}

.search-icon
{
    position: absolute;
    /* left: 62.5%; */
    top: 10%;
    font-size: 2rem;
    cursor: pointer;
    color: #234345;
}

.pending-tasks
{
    background-color: #0000006a;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    background-color: #234345;
    padding: 20px;
    color: white;
    width: 30%;
    border-radius: 20px;
}

.pending-task-items
{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.list-divider
{
    border: 1px solid rgba(211, 211, 211, 0.25);
}


/*--------------------------------------------- Side Nav-------------------------- */
.side-nav
{
    display: flex;
    padding: 20px;
    z-index: 20;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 5%;
    height: 100vh;
    background-color: #234345;
    /* background-color: rgb(3, 3, 71); */
}

.top-nav-items > .divider
{
    width: 70%;
    margin: auto;
}

.divider
{
    width: 100%;
}

hr
{
    border: 1px solid rgba(162, 161, 161, 0.537);
}

.side-nav a
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    text-align: center;
    color: white;
}

.profile-img
{
    font-size: 40px;
    cursor: pointer;
    color: white;
}



/*----------------------------------Media Queries-------------------------- */

/* Devices 768px and up */
@media (min-width: 768px)
{   
    .date 
    {
        padding-right: 50px;
    }

    header 
    {
        gap: 1em;
    }

    .search-icon 
    {
        left: 71%;
    }

    .search > input 
    {
        width: 50%;
    }

    .pending-tasks 
    {
        width: 75%;
    }

    .side-nav 
    {
        width: auto;
        padding: 0px;
    }
}

/* Devices 1200px and up */
@media  (min-width: 1200px)
{
    .search-icon 
    {
        left: 72.5%;
    }
}

/* Devices less than 768px */
@media (max-width: 767.98px)
{
    .header-nav 
    {
        flex-direction: column;
        padding: 1rem;
        gap: 1.5rem;
    }

    .welcome 
    {
        display: none;
    }

    header 
    {
        gap: 1em;
    }
    
    .search-icon 
    {
        left: 68%;
    }

    .search > input 
    {
        width: 50%;
    }

    .pending-tasks 
    {
        width: 75%;
    }

    .side-nav 
    {
        width: auto;
        padding: 5px;
    }

    .side-nav a 
    {
        padding: 15px 10px;
    }

    span 
    {
        display: none;
    }
}

/* Devices less than 480px */
@media (max-width: 480px) 
{
    .search-icon 
    {
        left: 70%;
    }

    .search > input 
    {
        width: 65%;
    }
}
