/* 
 - #34495e - Dark Blue
 - #2c3e50 - Darker
 - #95a5a6 - Concrete Gray
 - #7f8c8d darker gray
*/


* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    position: relative;
   
}

/*------------------------------------- Side Nav-------------------------- */
.side-nav
{
    position: fixed;
    top: 0;
    display: flex;
    padding: 20px;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 5%;
    height: 100vh;
    background-color: #234345;

}

.top-nav-items > .divider
{
    width: 70%;
    margin: auto;
}

.divider
{
    width: 100%;
}

hr
{
    border: 1px solid rgba(162, 161, 161, 0.537);
}

.side-nav a
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    text-align: center;
    color: white;
}

.profile-img
{
    font-size: 40px;
    cursor: pointer;
    color: white;
}

/*---------------------------------------- section -------------------------- */

/* Section will act as the content body */
section
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 0 0 0 6rem;
    left: 0;
    right: 0;
    width: 100%;
}

/*------------------------------------------- Tasks Body---------------------- */

.main-container, .table-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

/* Error Message */
.fail-message
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

/*-------------------------------------------- form ---------------------- */
.close-btn
{
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* Todo Modal */
.todo-list-container
{
    z-index: 10;
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #0c1722e9;
   height: 100%;
   overflow: hidden;
   transform: translateY(-100%);
   transition: 0.5s transform ease-in-out;
}

.todo-list-container.open
{
    transform: translateY(0);
}

.todo-form
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    height: 50%;
    width: 20%;
}

::-webkit-calendar-picker-indicator {
    filter: invert(2);
    cursor: pointer;
}


input
{
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    color: white;
    text-align: center;
}

.todo-form > button
{
    background-color: #4caf50;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: white;
}

input:focus
{
    outline: none;
}
/*---------------------------------------------- Search ---------------------- */

.task-header
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

.create-btn
{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: blue;
    font-weight: 300;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.todo-search
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.todo-search-input
{
    width: 90%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid lightgray;
}

.todo-search-filter-btn
{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    border: none;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}

.container-divider
{
    border: 1px solid rgba(211, 211, 211, 0.304);
    margin: 20px;
}

/*--------------------------------------------- Table ---------------------- */

/* Table Header */
.todo-results
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.result-divider
{
    font-size: 30px;
    color: lightgray;
}

.todo-table
{
    padding: 10px 40px;
}
.todo-table-header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: rgba(73, 72, 72, 0.814);
}

.todo-table-header-title
{
    display: flex;
    justify-content: space-around;
    gap: 20rem;
    padding-left: 30px;
    width: 60%;
}

.todo-table-header-items
{
    display: flex;
    gap: 30px;
}

.todo-table-header-items > strong
{
    display: flex;
}

.todo-table-header-items > strong i
{
    color: lightgrey;
    cursor: pointer;
}

/* Table Body */

.table-body-container
{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 2rem;
}


.table-items
{
    display: flex;
    gap: 5rem;
    height: 8vh;
    align-items: center;
    transition: 0.8s;
}

.action
{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.action .edit-btn
{
    color: grey;
    cursor: pointer;
}

.action > button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
}

.table-items:hover
{
    background-color: #0f1c1d14;
    opacity: 1;
    cursor: pointer;
}

.table-items-title
{
    width: 60%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    gap: 20rem;
}

.table-items-info
{
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    gap: 5rem;
    width: 20%;
    margin-left: auto;
}

.todo-title, .title
{
    width: 20%;
    text-align: center;
}

.todo-desc, .table-desc
{
    width: 50%;
    text-align: center;
}
